
*{
	padding: 0;
	margin: 0;
}
*::selection{
	background-color: var(--vd-btn-color);
	color:var(--bg-color);
}
:root{
--bg-color:#111FA2;
--main-cont-color:#3A5AC9;
--m-heading-color:#FFDE42;
--desc-color:#fff;
--vd-btn-color:#53CBF3;
--prac-head-color:#281C59;
--prac-clas-color:#5478FF;
}
body{
	background-color:var(--bg-color);
}
.web-home-page{
	width: 100vw;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
}

#page-heading{
	position: sticky;
		top:0;
	padding:10px;
	display: flex;
	font-size:2rem;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	background-color:var(--prac-head-color);
	color:var(--m-heading-color);
}

#main-cont{
	width:450px;
	padding:20px 12px;
	border-radius: 20px;
	background-color: var(--main-cont-color);
}

.prac{
margin: 20px 0px;
height:8%;
overflow: hidden;	
background-color: var(--prac-clas-color);
padding:6px;
border-radius: 10px;
transition:0.5s ease-in;
}
.pract-h{
	padding:4px 0px;
	color:var(--prac-head-color);
	font-family: monospace;
	font-weight: bold;
}
.prac-out{
	margin-bottom: 4px;
	color:var(--m-heading-color);
}
.obj{
	margin-bottom: 10px;
padding:5px 2px;
font-size:16px;
word-spacing: 2px;
letter-spacing: 0.6px;
font-family: arial;
color: var(--desc-color);
}
.video-btn{
	position: relative;
	bottom:5px;
	height:35px;
	padding: 5px 15px;
	text-decoration: none;
	font-weight: bold;
	background-color:var(--vd-btn-color);
	color:var(--bg-color);
	font-family: sans-serif;
	font-weight: bold;
	font-size: 17px;
	border:none;
	border-radius: 10px;
	cursor:pointer;
}
.video-btn:active{
transform: scale(0.9);
}

#ft{
	width:70%;
	margin-left:15%;
	padding:10px 5px;
	border-radius:20px;
	margin-bottom:10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--prac-clas-color);
}

.cp-rt{
	color:#fff;
	font-family: arial;
	font-weight: 100;
	letter-spacing: 1px;
}

		/*media query starting*/

@media only screen and (max-width: 750px){
.web-home-page{
	gap:50px;
}
	#main-cont{
		width: 90%;
	}
.prac{
padding:5px;
}

}
